/* Bounce effect */
.bounce {
  animation: bounce 2s infinite; /* Infinite bounce animation */
}

/* Define the bounce animation */

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(
      -20px
    ); /* Move 20px up at the middle of the animation */
  }
}
